
#DocNav {
    z-index: 3;
    position: fixed;
    bottom: 10px;
    right: 10px;

    background-color: #fff;
    color: #46261a;
    padding: 10px;
    border-radius: 7px;

    font-family: var(--font-main);

    line-height: 1.8;
}

#DocNav a {
    color: var(--text-color);
    text-decoration: none;
}

#DocNav a::before { content: "{ "; }
#DocNav a::after { content: " }"; }

#DocNav a:hover {
    color: var(--accent-color);
    text-decoration: line-through;
}

#DocNav span { color: var(--accent-color); }
#DocNav span::before {
    content: "— "
}

#DocNav span a::before { content: "[ "; }
#DocNav span a::after { content: " ]"; }

#DocNav div { color: var(--accent-color); }
#DocNav div::before {
    content: "— - "
}

#DocNav div a::before { content: "< "; }
#DocNav div a::after { content: " >"; }
